node_modules
dist
.prerender
.env
*.local
coverage
playwright-report
test-results
*.tsbuildinfo
vite.config.js
vite.config.d.ts
vitest.config.js
vitest.config.d.ts

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
